<!DOCTYPE html>
<html>
<head>
	<title>{{ article.title }}</title>

	<style>
	body { font-family: sans-serif; }
	h1 { font-family: serif;  margin-bottom: 0;}
	.article {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
	.article-meta {
        font-family: sans-serif;
        color: #aaa;
        font-size: 12px;
		p {
        font-size: 14px;
    }
	}
	.main{
	width:500px;
	height:200px;
	border:solid 1px black;
	}

	</style>
</head>
<body>


<html>
    <head>
        <title>
            {{ article.title }}
        </title>
        <style type="text/css">
        </style>
    </head>
    <body>

	<center>
	<div class="main">
	<article>
           <!--Article Title --> <h1>{{ article.title }}</h1>

			<p><strong>{{ article.description }}
			</article></strong></p>

			<p>	{{ article.text }}	 </p>
			<p><strong>{{ article.newsness }}</strong></p>
			<input type="radio" value='Approve' name="action">Approve
			<input type="radio" value='Reject' name="action">Reject
			<input type="radio" value='NoAction' name="action">NoAction


    </article>
	</div>
	</center>

    </body>
</html>

</body>
</html>
